<html>
<head>
	<title>Web Design Portfolio</title>
	
	<link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Condiment&family=Lato:wght@900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="loader">
		<div class="intro">
			<h3 class="intro-title">Models </h3>
		</div>
	</div>
    <section id="landingPage">
    	<div class="header">
    		<h3>AKS </h3>
        <h3>Management </h3>
    		<div class="line"></div>
    	</div>
    	<div class="nav">
    		<ul>
    			<li class="li2"><a href="/home">Home</a></li>
    			<li class="li2"><a href="/user">Models</a></li>
    			<li class="li2"><a href="#projects">Admin</a></li>
    			<a href="mailto:vikalpkaushik99@gmail.com" class="nav-btn">Apply</a>
    		</ul>
    	</div>
    	<div class="sidebar">
    		<div class="strip"></div>
    	</div>
    	<div class="title">
	    	<h1>Modles</h1>
	    	<h1>That Act</h1>
	    	<h1>For Hobby</h1>
	    </div>
	    <div class="para">
	    	<h2>A reliable, efficient, skill-recognizing model agency</h2>	
			<h2>That is making a difference</h2>	
			<h2>Founded by a model.</h2>	
	    </div> 	
	    <img class="svg2" src="assets/centre.png" alt="">
	    <img class="svg4" src="assets/mid.png" alt="">
	    <img class="svg5" src="assets/topright.png" alt="">
    </section>
    
<div class="container">
    
    <div class="content">
      <div class="list">
        <div class="list-header">
          <h3>List of Models</h3>
          
        </div>
        <app-list
          [pokemon$]="allPokemon$"
          (pokemonEmitter)="selectPokemon($event)"
        ></app-list>
      </div>
      <app-detail
        [pokemon]="selectedPokemon"
        *ngIf="selectedPokemon"
        (deletePokemon)="deletePokemon()"
        (updatePokemon)="updatePokemon()"
      ></app-detail>
    </div>
  </div>
  <section id="skills">
    <div class="sidebar3"></div>
    <div class="sidebar4"></div>
    <div class="strip3">
      <img class="photo" src="assets/akram.png">
      <div class="bio">
        <h4 class="h4">AKRAM ARSHAD</h4>
        <h4 class="h4">25-02-1995</h4>
        <h4 class="h4">UK, London</h4>
        <h4 class="h4 non">akram95@gmail.com</h4>
        <h4 class="h4">+44 71960 12342</h4>
      </div>
    </div>
    <div class="education">
      <h3 class="h3">Education</h3>
      <h4 class="h4 imp">Etc Etc Etc Etc</h4>
      <h4 class="h4 imp2">Etc Etc Etc Etc</h4>
      <h4 class="h4 imp2">Etc Etc Etc Etc</h4>
      <br>
      <h4 class="h4 imp">High School</h4>
      <h4 class="h4 imp2">Etc Etc Etc Etc</h4>
      <h4 class="h4 imp2">Etc Etc Etc Etc</h4>
    </div>
    <div class="experience">
      <h3 class="h3">Experience</h3>
      <h4 class="h4 imp">Full Stack Intern</h4>
      <h4 class="h4 imp2">Etc Etc Etc Etc</h4>
      <h4 class="h4 imp2">+ Etc Etc Etc Etc</h4>
      <h4 class="h4 imp2">+ Etc Etc Etc Etc</h4>
      <h4 class="h4 imp2">+ Etc Etc Etc Etc</h4>
      <h4 class="h4 imp2">+ Etc Etc Etc Etc</h4>
    </div>
    <div class="skills-set">
      <h3 class="h2">Skills</h3>
      <ul class="ul">
            <li class="html li">understanding of emotions</li>
            <li class="css li">Engaging with audience</li>
            <li class="js li">Experience</li>
            <li class="ng li">Flexible</li>
          </ul>
    </div>
    <img class="svg11" src="assets/1.png"  alt="">
    <img class="svg10" src="assets/2.png"  alt="">
  </section>
  <section id="projects">
    <div class="cover"></div>
    <h3 class="project-title">Projects</h3>
    <div class="projects-container">
    <div class="project">
      <a href="https://github.com/vikalp2502/AlgoSort-Sorting-Visualiser"><img class="pro-img" src="img/project1.png"></a>
      <h2>Sorting Visualizer</h2>
    </div>
    <div class="project">
      <a href="https://github.com/vikalp2502/Shoes-Nike-Landing-Page"><img class="pro-img" src="img/project2.png"></a>
      <h2>Product Landing Page</h2>
    </div>
    <div class="project">
      <a href="https://github.com/vikalp2502/CODM-landing_page"><img class="pro-img" src="img/project3.png"></a>
      <h2>Gaming Landing Page</h2>
    </div>
    </div>
    <a href="https://github.com/vikalp2502" class="nav-btn pos2">More Projects</a>
    <img class="svg8" src="assets/3.png"  alt="">
    <img class="svg9" src="assets/4.png"  alt="">
  </section>
  <section id="contacts">
      <div id="contact" class="contact-me">
        <h3 class="contact-title">Get In Touch</h3>
        <h2 class="contact-tagline">If you like my work or I can help.</h2>
        <h4 class="p2">If you have a project that you want to get started, think you need my help with something or just fancy saying hey, then get in touch.</h4>
        <a class="nav-btn" href="mailto:vikalpkaushik99@gmail.com">MESSAGE ME</a>
              <img class="svg6" src="assets/5.png"  alt="">
            <img class="svg7" src="assets/behindabout.png" alt="">
        </div>
  </section>
  <section id="footer">
    <div class="logo">
      <h3>AKS</h3>
    <h3>Management</h3>
      <div class="line"></div>
    </div>
    <div class="scroll-indicator"><a href="#landingPage"><i class="fa fa-arrow-up"></i></a></div>
    <div class="link">
      <a class="footer-link" href="#about">Home</a>
      <a class="footer-link" href="#skills">Models</a>
      <a class="footer-link" href="#projects">Apply</a>
    </div>
    <div class="footer-social-icons">
        <ul>
        
        <li><a href="https://www.twitter.com/kaushik_vikalp/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/vikalp-kaushik-99966a1ab/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/vikalp._.kaushik/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="sidebar2">
      <p>© 2020. All rights reserved.</p>
      <div class="strip2"></div>
    </div>
  </section>
</body>
</html>
<router-outlet></router-outlet>